---
import { getLastUpdatedLabel } from '../lib/lastUpdated';

const lastUpdated = await getLastUpdatedLabel();
---

<footer class="foot">
  <span>last updated: {lastUpdated}</span>
  <span><a href="/feed.xml">rss</a></span>
</footer>
