<header class="masthead">
  <a href="/" class="site-title">ANIRUDDH V.</a>
  <nav aria-label="Primary">
    <a href="/research/">research</a>
    <a href="/teaching/">teaching</a>
    <a href="/blog/">blog</a>
    <a href="/misc/">misc</a>
  </nav>
</header>
