---
import { tagHref } from '../lib/tags';

interface Props {
  tags?: string[];
}

const { tags = [] } = Astro.props as Props;
---

{
  tags.length > 0 && (
    <div class="post-tags">
      {tags.map((tag) => (
        <a href={tagHref(tag)} class="tag">{tag}</a>
      ))}
    </div>
  )
}
